include inputs 

mixin controls(elementname, field, input, value)
	label.uk-form-label(for=elementname)
		| #{field.label}
	div.uk-form-controls
		if field.type == "text" || field.type == "password" || field.type == "time" || field.type == "number"
			if field.required == true
				input(type=field.type name=elementname value=value required).uk-input
			else
				input(type=field.type name=elementname value=value).uk-input
		else if field.type == "date"
			- var date = moment(new Date(value)).format('YYYY-MM-DD')
			if field.required == true
				input(type=field.type name=elementname value=date required).uk-input
			else
				input(type=field.type name=elementname value=date).uk-input
		else if field.type == "checkbox"
			+checkbox(field.required, input, elementname)
		else if field.type == "confirmcheckbox"
			+confirmcheckboxgroup(field.required, jobsheet, elementname)
		else if field.type == "textarea"
			if field.required == true
				textarea(type=field.type name=elementname rows=field.rows required).uk-textarea
					| #{value}
			else
				textarea(type=field.type name=elementname rows=field.rows).uk-textarea
					| #{value}
		else if field.type == "radio"
			+radio(field, elementname, input)
		else
			p Unhandled type