mixin checkbox(input, name)
	if input != null && input.checked == "true"
		input(type="checkbox" name=name checked).uk-checkbox
	else
		input(type="checkbox" name=name).uk-checkbox

mixin confirmcheckboxgroup(jobsheet, name)
	div(uk-grid)
		+confirmcheckbox(jobsheet, name, "required", "Required")
		+confirmcheckbox(jobsheet, name, "done", "Done")

mixin confirmcheckbox(jobsheet, name, typestring, display)
	div.uk-text-center
		- var type = name+typestring
		label.uk-form-label(for=type)
			| #{display} &nbsp;
			if jobsheet != null
				+checkbox(jobsheet.data[type], type)
			else
				+checkbox(null, type)

mixin radio(field, name, input)
	ul.uk-list.uk-margin-remove
		each radio in field.options
			li
				span #{radio.label} &nbsp;
					if input != null && input.value == radio.value
						input(type=field.type name=name value=radio.value checked).uk-radio
					else
						input(type=field.type name=name value=radio.value).uk-radio