mixin sidenav(jobsheet, staff)
	div(class="uk-width-1-4@m uk-visible@m")
		ul.uk-nav.uk-nav-default(uk-nav uk-sticky="offset: 60")
			li.uk-margin-small-top
				label.uk-form-label(for="staffassign")
					| Assign Staff
				select(name="staffassign").uk-select
					if jobsheet != null 
						if jobsheet.data.staffassign.value == "None"
							option(selected="selected")
								| None
						else
							option
								| None
					else
						option(selected="selected")
							| None
					each member in staff
						if jobsheet != null 
							if jobsheet.data.staffassign.value == member._id
								option(value=member._id selected="selected")
									| #{member.name}
							else
								option(value=member._id)
									| #{member.name}
						else
							option(value=member._id)
								| #{member.name}
			li.uk-margin-small-top
				label.uk-form-label(for="duedate")
					| Due Date
				if jobsheet != null
					- var date = moment(new Date(jobsheet.data["duedate"].value)).format('YYYY-MM-DD')
					input(type="date" name="duedate" value=date required).uk-input
				else
					input(type="date" name="duedate" value=date required).uk-input
			if jobsheet != null
				li.uk-margin-small-top
					label.uk-form-label(for="createddate")
						| Created On
					- var date = moment(new Date(jobsheet.created)).format('YYYY-MM-DD')
					input(type="date" name="createddate" value=date readonly disabled ).uk-input
				li.uk-margin-small-top.uk-nav-center
					button.print-button.uk-button.uk-button-primary
						| Download Label
			li.uk-margin-small-top.uk-nav-center
				+savebutton(jobsheet)
			li.uk-margin-small-top.uk-nav-center
				p#savemessage.uk-invisible.uk-margin-remove-bottom.uk-padding-small
			li.uk-parent.uk-nav-header(class="uk-visible@m")
				| Navigation
			ul.uk-nav-sub(class="uk-visible@m")
				each section in layout
					li
						a(href="#"+section.title)
							| #{section.title}

mixin savebutton(jobsheet)
	if jobsheet != null
		button.save-button.uk-button.uk-button-primary(submit="submit")#save
			| Update
	else
		button.save-button.uk-button.uk-button-primary(submit="submit")
			| Save