mixin jobsheet-table-body(jobsheets)
	tbody#table-body
		tr.uk-placeholder.clickable(onclick="window.location='/jobsheets/new/';")
			td
				| Add New Job Sheet
			td
			td
			td
			td
			td
			td.uk-align-right.uk-margin-remove-bottom
				a.uk-icon-link(href='/jobsheets/new/' uk-icon="icon: plus")
		each jobsheet in jobsheets
			- var location = "window.location='/jobsheets/view/" + jobsheet._id + "';"
			- var modified = moment(jobsheet.modified, "YYYYMMDD").fromNow();
			- var date = moment(new Date(jobsheet.created)).format('MMM Do YYYY')
			- var duedate = moment(new Date(jobsheet.data["duedate"].value)).format('MMM Do YYYY')
			tr.clickable(onclick=location)
				td
					a(href='/jobsheets/view/'+jobsheet._id) #{jobsheet._id}
				td
					| #{jobsheet.data.customerdetailsname.value}
				td
					| #{date}
				td
					| #{duedate}
				td
					| #{modified}
				td
					| Tag
				td.uk-align-right.uk-margin-remove-bottom
					a.uk-icon-link(href='/jobsheets/delete/'+jobsheet._id uk-icon="icon: trash")