
include order-part
include inputs

mixin jobsheet-section(section, jobsheet)
	li
		a.uk-accordion-title(href="#")
			if section.title != null
				| #{section.title}
			else
				| Default Title 
		section(id=section.title).uk-accordion-content
			.form.uk-form-horizontal
				if section.fields != null && section.fields.length != 0
					each field in section.fields
						- var elementname = section.name+field.name
						if jobsheet != null
							- var input = jobsheet.data[elementname]
						if input != null 
							- var value = input.value
						.div.uk-margin
							if field.type == "partadd"
								+addpart(partlayout)
							else
								label.uk-form-label(for=elementname)
									| #{field.label}
								div.uk-form-controls
									if field.type == "text" || field.type == "password" || field.type == "time" || field.type == "number"
										input(type=field.type name=elementname value=value).uk-input
									else if field.type == "date"
										- var date = moment(new Date(value)).format('YYYY-MM-DD')
										input(type=field.type name=elementname value=date).uk-input
									else if field.type == "checkbox"
										+checkbox(input, elementname)
									else if field.type == "confirmcheckbox"
										+confirmcheckboxgroup(jobsheet, elementname)
									else if field.type == "textarea"
										textarea(type=field.type name=elementname rows=field.rows).uk-textarea
											| #{value}
									else if field.type == "radio"
										+radio(field, elementname, input)
									else
										p Unhandled type

				else
					p No fields in layout