extends layout/layout

block content
	.uk-margin-medium-top.uk-margin-left
		h1.title Parts on order
	table.uk-table.uk-table-striped.uk-text-middle
		thead
			tr
				th Name
				th Status
				th Date Purchased
				th Cost
				th Store
				th 
				th
		tbody
			if !parts || parts.length == 0
				tr.none.uk-placeholder
					td.uk-text-middle There are currently no parts on order
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
			else
				tr.none.uk-placeholder.uk-hidden
					td.uk-text-middle There are currently no parts on order
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
				tr.uk-hidden
				each p in parts
					tr.part
						td.uk-text-middle #{p.name}
						td.uk-text-middle
							if p.status
								| #{p.status}
						td.uk-text-middle
							if p.purchased
								- var date = moment(new Date(p.purchased)).format('MMM Do YYYY')
								| #{date}
						td.uk-text-middle
							if p.cost
								| £ #{p.cost}
						td.uk-text-middle
							if p.store
								| #{p.store}
						td.uk-text-middle
							a(id=p._id href="/jobsheet/"+p.jobsheet) View Jobsheet
						td.uk-text-middle
							button(data-id=p._id type="button").uk-button.button-status Set status to delivered
	script(src='/javascripts/parts.js')