extends layout/layout

block content
	.uk-flex.uk-flex-wrap.uk-padding(class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-child-width-1-4@xl" uk-height-match="target: > div > .uk-card")
		each s in sites
			.uk-padding-small
				.uk-card.uk-card-default.uk-card-body 
					h3.uk-card-title #{s.customer}
					if s.data.address.value
						p Address: #{s.data.address.value}
					if s.data.date.value
						- var date = moment(new Date(s.data.date.value)).format('MMM Do YYYY')
						p Date: #{date}
					if s.data.time.value
						p Time: #{s.data.time.value}
					if s.data.notes.value
						p #{s.data.notes.value}
					a(href="/jobsheets/view/"+s.id) View Jobsheet