extends layout/layout

block content
	.uk-margin-medium-top.uk-margin-left
		h1.title Upcoming site visits
	table.uk-table.uk-table-striped.uk-text-middle
		thead
			tr
				th Customer Name
				th Date
				th Time
				th Street
				th City
				th Postcode
				th Notes
				th
				th
		tbody
			if !sites || sites.length == 0
				tr.none.uk-placeholder
					td.uk-text-middle There are currently no parts on order
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
					td.uk-text-middle
			else
				each s in sites
					tr
						td.uk-text-middle #{s.jobsheet.customer.name}
						td.uk-text-middle
							if s.date
								- var date = moment(new Date(s.date)).format('MMM Do YYYY')
								| #{date}
						td.uk-text-middle
							if s.time
								| #{s.time}
						td.uk-text-middle
							if s.address.street
								| #{s.address.street}
						td.uk-text-middle
							if s.address.city
								| #{s.address.city}
						td.uk-text-middle
							if s.address.postcode
								| #{s.address.postcode}
						td.uk-text-middle
							if s.notes
								| #{s.notes}
						td.uk-text-middle
							a(href="/jobsheet/"+s.jobsheet._id) View Jobsheet
						td.uk-text-middle
							if s.address && (s.address.street || s.address.city || s.address.postcode)
								- var address = ""
								if s.address.street
									- address = address + s.address.street.replace(/\s+/g, '+')
								if s.address.city
									if address != "" && s.address.city
										- address = address + "+"
									- address = address + s.address.city.replace(/\s+/g, '+')
								if s.address.postcode
									if address != "" && s.address.postcode
										- address = address + "+"
									- address = address + s.address.postcode.replace(/\s+/g, '+')
								a(href="https://www.google.co.uk/maps/search/"+address) Get Directions