
include parts
include sites

mixin inputs(key, template, data, partTemplate, siteTemplate, userList)
	.uk-form-controls.uk-margin
		if template.type == "string"
			+label(template)
			input.uk-input(type="text" placeholder=template.title name=key value=data required=template.requiredfield)
		else if template.type == "time"
			+label(template)
			input.uk-input(type="time" placeholder=template.title name=key value=data required=template.requiredfield)
		else if template.type == "boolean"
			.uk-column-1-2
				.uk-column-1-2
					+label(template)
					input.uk-checkbox(type="checkbox" name=key checked=data)
		else if template.type == "confirm"
			.uk-column-1-3
				div
					label.uk-form-label(style="display: inline !important") #{template.title}
				div
					label.uk-form-label.uk-padding-small(style="display: inline !important") Required? 
						if data 
							input.uk-checkbox(type="checkbox" name=key+" required" checked=data.required)
						else
							input.uk-checkbox(type="checkbox" name=key+" required" checked=false)
				div
					label.uk-form-label.uk-padding-small(style="display: inline !important") Done? 
						if data 
							input.uk-checkbox(type="checkbox" name=key+" done" checked=data.done)
						else
							input.uk-checkbox(type="checkbox" name=key+" done" checked=false)
			hr
		else if template.type == "date"
			+label(template)
			- var date = null
			if data
				- date = moment(new Date(data)).format('YYYY-MM-DD')
			input.uk-input(type="date" value=date name=key required=template.requiredfield)
		else if template.type == "number"
			+label(template)
			input.uk-input(type="number" value=data step="0.01" name=key required=template.requiredfield)
		else if template.type == "textarea"		
			+label(template)
			textarea.uk-textarea(type="textarea" rows=5 name=key required=template.requiredfield) #{data}
		else if template.type == "user"
			+label(template)
			select(required=template.requiredfield name=key).uk-select
				each u in userList
					- var e = String(u._id) == String(data)
					if e
						option(data-id=u._id selected="selected") #{u.username}
					else
						option(data-id=u._id selected=false) #{u.username}
		else if template.type == "equipment"
			+label(template)
			select(required=template.requiredfield name=key).uk-select
				each o in template.options
					- var e = String(o) == String(data)
					if e
						option(selected="selected") #{o}
					else
						option #{o}
		else if template.type == "timestamp"
			if data
				label.uk-form-label #{template.title}
				- var date = moment(new Date(data)).format('MMMM Do YYYY, h:mm:ss a');
				p #{date}
		else if template.type == "datecreated"
			if data
				label.uk-form-label #{template.title}
				- var date = moment(new Date(data)).format('MMMM Do YYYY, h:mm:ss a');
				p #{date}
		else if template.type == "part"
			+addpart(partTemplate, data)
		else if template.type == "site"
			+addsite(siteTemplate, data)
		else if template.type == "status"
			if data
				p.status(data-val=data) Status: #{data}
			else
				p.status(data-val=data) Status: Ordered
		else if template.type == "otherselect"
			+label(template)
			.other-select
				select(required=template.requiredfield name=key).uk-select
					each o in template.options
						- var e = String(o) == String(data)
						if e
							option(selected="selected") #{o}
						else
							option #{o}
				input.uk-input(type="text" value=data name=key required=template.requiredfield)
		else
			p No input type for: #{key} #{template.type}

mixin label(template)
	label.uk-form-label #{template.title}
		if template.requiredfield
			span(style="color:red") *